body{
font-family: Lato, Arial, sans-serif;
margin: 0;
}

body {
    background-image: url("/Users/kayewiggins/Desktop/City/Data coding 2017/aa coding final project/Files/hands-981400.jpg");
    margin-left: auto;
    margin-right: auto;
    background-size: 1500px 700px;
    background-repeat: no-repeat;
    width: 100%;
}

header {
	position: absolute;
	height: 50px;
	width: 100%;
	top: 0;
	border-bottom: 1px solid lightgrey;
	text-align: center;
	background: #ffdec6;
	opacity: 0.9;
}

.headline {
	margin-left: auto;
    margin-right: auto;
	width: 100%;
	font-size: 100px;
	font-weight: bold;
	font-variant: small-caps;
	color: white;
	text-align: center;
	margin-top: 200px;

}

.intro {
	font-family: Georgia;
	font-size: 30px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 1000px;
	opacity: 0.6;
	text-align: center;
}

.dropbtn {
    background-color: #ffdec6;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 600px;
    margin-right: auto;
    text-align: center;

}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
	color: black;
	font-size: 16px;
    position: absolute;
    background-color: white;
    min-width: 250px;
    margin-left: 600px;
    margin-right: auto;
}

.a {
color: black;
display: block;
}

.container {
	color: black;
	display: block;
}

.respond{
background-color: white;
font-family: Georgia;
    font-size: 15px;
    width: 350px;

}

.england{
background-color: white;
font-family: Georgia;
    font-size: 15px;
    width: 1000px;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {background-color: #ffd9c4}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffdec6;
}




